Package: com.ra9stuff.accessoryalertblocker
Name: accessoryalertblocker
Version: 0.0.1
Architecture: iphoneos-arm
Description: blocks downloading accessory firmware alert.
Maintainer: rA9stuff
Author: rA9stuff
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
